/* Global Styles (Strength: 1) */
p {
    color: rgb(17, 17, 48);
    padding: 7px;
    font-size: 18px;
}

/* Class Styles (Strength: 10) */


.catchy {
    color: rgb(215, 200, 196);
}

/* ID Styles (Strength: 100) */

#actions_title {
    font-size: 3em;
    color: aqua;
}

/* An inline style is the most specific rule you can apply. */

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#wrapper {
    background-color: rgba(18, 26, 130, 0.458);
    padding: 0.5em;
}

h3 {
    padding: 15px;
    font-size: 25px;
}

#header {
    background-color: rgb(40, 8, 169);
    height: 15vh;
    text-align: center;
}

nav{
    padding: 15px;
  background-color: rgb(13, 10, 39);
  
}

#main {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 80vh;
    display: flex;
    flex-direction: row;
}

#content {
    flex-grow: 2;
    background-color: rgba(243, 232, 174, 0.467);
}

#actions {
    flex-grow: 1;
    background-color: rgba(48, 55, 160, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#footer {
    background-color: rgba(207, 37, 31, 0);
    min-height: 10vh;
}

#login-form {
    text-align: center;
    background-color: rgba(88, 119, 243, 0.648);
    padding: 5px;
    border-style: ridge;
    border-radius: 15px;
    border-color: rgb(230, 224, 217);

}

#register-form {
    padding: 5px;
    text-align: center;
    background-color: rgba(201, 145, 145, 0.297);
    border-style: ridge;
    border-radius: 15px;
    border-color: rgb(226, 210, 190);
}



a {
    padding: 55px;
}


input{
    border-width: 2px;
    width: 200px;
    height:25px;
    border-radius: 10px;
}

button{
    width: 100px;
    border-radius: 10px;
    background-color: brown;
}

#listings {
    margin-top: 30px;
  }
  
  #listings .listing {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
  }
  
  #listings .listing h3 {
    margin-top: 0;
  }
  
  #listings .listing button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  #listings .listing button:hover {
    background-color: #0056b3;
  }
  
  body {
    background-image: url('images/th.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

   
  @media screen and (max-width:600px) {
    #actions{
        align-content: center;
        width:80%;
        flex-direction: column;
        
    }
    #main{
        width:100%;
        flex-direction: column;
    }
  }

  @media  screen and (min-width:600px) and (max-width:992px) {
    #actions{
        align-content: center;
        width:80%;
        flex-direction: column;
        
    }
    #main{
        width:100%;
        flex-direction: column;
    }
  }
  }